<div>
    <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <div class="container">
            <img class="navbar-brand img-fluid" src="logo.png" alt="icon created by Gregor Cresnar" href="#" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Tables</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Graphs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/">Volumes/HighLow</a></li>
                            <li><a class="dropdown-item" href="/monthlyperasset">Volumes/Value</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/valueDeviationPerAsset">Vol/Val/Percent</a></li>
                            <li><a class="dropdown-item" href="/mav">Multi Asset</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Admin</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" disabled type="search" placeholder="Nothing Yet" aria-label="Search">
                    <button class="btn btn-outline-success" disabled type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

@code {

}
